@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

div {
    width: 100%;
    border: 1px solid brown;
    
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header, .first {
    margin-left: -9px;
}

.logo {
    padding: 20px;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 110px;
}

.header {
    display: flex;
    margin-top: -9px;
    height: 80px;
}

.header-links {
    display: flex;
    margin-right: 130px;
    padding: 20px;
    justify-content: flex-end;
    gap: 20px;
}

.header-links a {
    margin-top: 5px;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    height: 450px;
    color: #F9FAF8;
    text-size: 48px;
    font-size: x-large;
}

.first p {
    width: 350px;
    font-size: 18px;
    color: #E5E7EB;
}

.first h1 {
    width: 300px;
}

.first-box {
    padding: 20px;
    margin-left: 110px;
    margin-top: 30px;
    width: 450px;
}

.first-image {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 230px;
    background-color: grey;
}

button {
    border-radius: 25%;
    padding: 10px;
    width: 100px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.second, .fourth {
    background-color: white;
    margin-left: -9px;
    width: 1347px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.second h1 {
    color: #1F2937;
}

.third {

}

.fourth {

}

.footer {

}